.clearfix
  %h1.fl Run tests
  .fr.clearfix.buttons
    =link_to "<span>Back</span>", dataset_descriptions_path, :class => 'dark button'
    
    
.content.clearfix
  .span-16
    %h2== Tests in #{Dataset::Test.test_path}

    %ul.bordered
      - @tests.each do |test|
        %li.clearfix
          %strong.fl= test
          %a.fr.button{:href => url_for(:controller => "dataset_tests", :action => "run", :id => test.split('.')[0])} <span>Run Test</span>