.bundle
db/*.sqlite3
log/*
tmp/*
.vagrant

.env.local

files/*
config/*sphinx.conf
/update
/remote
/backup
/data
index/data*
index/*.conf
index/*.rb
searchd.log
dumps/*
public/system/*
public/sitemap.xml
public/sitemaps/*
db/sphinx/*
.idea/*

.DS_Store
rerun.txt

.sass-cache

coverage

docker-compose.yml
volumes
