.bundle
db/*.sqlite3
log/*
tmp/**/*

files/*
config/database.yml
config/datacamp_config.yml
config/sphinx.yml
config/*sphinx.conf
/update
/remote
index/data*
index/*.conf
index/*.rb
searchd.log
dumps/*
public/system/*
db/sphinx/*

.DS_Store