.bar.clearfix
  %a.home{:href => new_import_file_path, :class => params[:action]=="new" ? "active" : ""}
    %span= t "import.select_file"
  %a{:href => !@import_file.new_record? ? preview_import_file_path(@import_file) : "", :class => params[:action]=="preview" ? "active" : ""}
    %span= t "import.preview"
  %a.last{:href => "", :class => params[:action]=="import" ? "active" : ""}
    %span= t "import.process"