.legacy
  .clearfix
    .fr= link_to "<span>Go to dataset description</span>".html_safe, @import_file.dataset_description, :class => "button"
    
  %h2 Import failed.

  - @importer.errors.each do |error|
    %p.error= error
