- content_for :email_preview do
  =raw t("session.set_new_password", :site_name => SystemVariable.get("site_name", "Datacamp"))
  

%h4=raw t("session.set_new_password", :site_name => SystemVariable.get("site_name", "Datacamp"))
%p=raw t("session.reset_password_message", :link => link_to(t("session.reset_password"), restore_user_url(id: @user.restoration_code)))
