%li.favorite_menu
  - if current_user && current_user.has_favorite?(@dataset_description, @record)
    = link_to "Remove from favorites", @favorite, :class => "active fav ajax", :method => :delete
  - else
    %a.fav#add_to_favorites{:class => "ajax", :href => new_favorite_path({:dataset_description_id => @dataset_description.id, :record_id => @record ? @record.id : nil})}
      Add to favorites