%li.favorite_menu
  - if current_user && current_user.has_favorite?(@dataset_description, @record)
    =link_to "", favorite_path(@favorite), class: "favorite-active js_remove_from_favorites", method: :delete, remote: true
  - else
    =link_to "", new_favorite_path({:dataset_description_id => @dataset_description.id, :record_id => @record ? @record.id : nil}), id: :add_to_favorites, class: 'favorite fav ajax'
