/* ************************** */


a {
  color: #394627 !important; }
  a:hover {
    color: #394627; }

h2 {
  margin-right: 0px; }
  h2 a {
    color: #26591f;
    font-size: 15px;
    text-decoration: none;
    font-weight: normal; }
  h2.bordered {
    border-bottom: 5px solid #EAEAEA; }
