/* ************************** */


a {
  color: #0a5fa6;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #102d45; }

h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px; }

h2 {
  margin-right: 0px; }
  h2 a {
    color: #1f4059;
    font-size: 15px;
    text-decoration: none;
    font-weight: normal; }
  h2.bordered {
    border-bottom: 5px solid #EAEAEA; }

/* ************************** */


#main {
  width: 960px;
  margin: auto;
  min-height: 800px;
  _height: 800px; }
  #main #header {
    height: 60px;
    background: url(../../images/logo.png) no-repeat 0px;
    position: relative; }
    #main #header a.home {
      text-decoration: none;
      display: block;
      position: absolute;
      width: 200px;
      height: 40px;
      top: 10px; }
    #main #header #nav {
      text-align: right;
      padding-top: 20px;
      font-size: 11px; }
  #main #menu {
    background: url(../../images/menu_full.png) no-repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
    #main #menu ul.main li {
      background: url(../../images/frontend_menu_divider.png) no-repeat right;
      padding-top: 9px; }
    #main #menu ul {
      margin-left: 10px;
      padding-top: 0px; }
      #main #menu ul li {
        border: none;
        float: left;
        margin: 0px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 8px; }
        #main #menu ul li.active a {
          text-decoration: underline; }
        #main #menu ul li a {
          color: #fff;
          font-size: 11px;
          font-weight: bold;
          text-decoration: none; }
  #main #container {
    margin-top: 15px;
    padding: 15px; }
  #main #footer {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 5px solid #eaeaea;
    font-size: 11px; }
    #main #footer a {
      font-size: 11px; }

.notice {
  margin-top: 10px; }

/* ************************** */


#quick_search {
  position: absolute;
  right: -15px;
  top: -9px;
  height: 30px;
  background: transparent; }
  #quick_search form {
    background: transparent; }
    #quick_search form input {
      padding: 3px 5px;
      padding-left: 23px;
      border: none;
      background: #fff url(../../images/icons/search.png) no-repeat 5px 4px;
      -webkit-border-radius: 15px;
      outline: none; }

/* ************************** */


table {
  margin-top: 10px; }
  table tr th {
    background: url(../../images/table_row.png) repeat-x -5px !important;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6; }


/* @group Node */

.node { background: #eeeeee; padding: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.node.notice { padding: 0px; background: #373737; color: #fff; border: none; }

.node.notice .fr { padding-top: 5px; }

.node .information { padding: 15px; }

.node .information .buttons h1 { padding-top: 6px; padding-left: 5px; }

.node .information .actions { margin-top: -7px; }

.node .information .actions a { color: #7a7a7a; font-size: 11px; }

.node .menu { background: #d5d5d5 url(../../images/node_background.png); margin: 0px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; padding-left: 10px; }

.node ul.tabs { padding: 0px; margin: 0px; }

.node ul.tabs li { background: transparent; border: none; padding: 0px; }

.node ul.tabs li a { color: #302f2f; font-weight: bold; display: block; padding: 5px; padding-top: 8px; padding-left: 10px; }

.node ul.tabs li.active { background: url(../../images/node_menu.png) 2px no-repeat; }

.node ul.tabs li.active a { color: #302f2f; background: url(../../images/node_menu_end.png) 2px right no-repeat; }

.node ul.tabs.small a { font-size: 11px; font-weight: normal; color: #777 !important; background: transparent !important; }

.node ul.tabs.small a:hover { color: #666 !important; }

.node ul.tabs.small a.fav { padding-left: 16px; background: url(../../images/icons/frontend_favorites.png) -2px 8px no-repeat !important; }

.node ul.tabs.small a.fav.active, .node ul.tabs.small a.fav:hover { background: url(../../images/icons/frontend_favorites_active.png) -2px 8px no-repeat !important; }

.node ul.tabs.small a.share { padding-left: 21px; background: url(../../images/icons/frontend_share.png) -2px 8px no-repeat !important; }

.node ul.tabs.small a.share.active, .node ul.tabs.small a.share:hover { background: url(../../images/icons/frontend_share_active.png) -2px 8px no-repeat !important; }

.node ul.tabs.small li.active { background: transparent; }

/* @end */

/* @group Dropdown */

.dropdown_trigger { position: relative; }

.dropdown_trigger .dropdown_content { position: absolute; z-index: 10000; top: 31px; right: -18px; width: 150px; background: #d5d5d5 url(../../images/node_background.png) 0px -38px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; padding-top: 5px; margin-top: 0px; display: none; }

.dropdown_trigger ul.dropdown_content li { float: none; border-bottom: 1px solid #bcbcbc; border-top: 1px solid #d8d8d8; margin: 0px; text-align: right; padding: 6px; padding-right: 10px; }

.dropdown_trigger ul.dropdown_content li:first-child { border-top: none; padding-top: 3px; }

.dropdown_trigger ul.dropdown_content li:last-child { border-bottom: none; padding-bottom: 7px; }

.dropdown_trigger ul.dropdown_content li a { color: #626262 !important; font-size: 11px !important; margin: 0px; padding: 0px; }

.dropdown_trigger:hover .dropdown_content { display: block; }

/* @end */

/* @group Results */

#results table div.actions { position: relative; padding-left: 5px; }

#results table div.actions img.quality_status { position: absolute; left: -16px; top: 1px; }

#results table td.checkbox { width: 20px; }

#results table td.status { width: 25px; }

table.ds_konsolidacna th.id { width: 20px; }

#results.loading { background: url(../../images/ajax_preloader_hq.gif) center center no-repeat; }

/* @end */

/* @group Information */

#information { padding-top: 15px; }

#information table td.label img.quality_status { position: relative; top: 3px; margin-left: -6px; }

#information table td.edit img.quality_status { position: relative; top: 10px; left: 5px; }

#information table td.edit .field { position: relative; }

#information table td.edit .field input[type=text]:focus { outline: none; border-color: #bbb; }

#information table td.edit .field .suggestion { position: absolute; background: url(../../images/tooltip.png); width: 214px; padding: 5px; color: #fff; top: 31px; display: none; }

#information table td.edit .field .suggestion img.cancel { position: relative; top: 4px; right: 2px; }

#information .description { padding-top: 20px; padding-left: 10px; }

/* @end */

/* @group Pagination */

.pagination.ajax { padding: 5px; padding-top: 10px; color: #6e7376; }

.pagination.ajax strong { color: #56626a; }

/* @end */

/* @group Comments */

#comments { margin-top: 20px; }

#comments .comment { padding-left: 15px; padding-right: 15px; margin-bottom: 10px; margin-top: 10px; padding-bottom: 10px; padding-top: 10px; border-bottom: 1px solid #e0e0e0; background: transparent; }

#comments .comment .date { font-size: 11px; }

#comments .comment .title { margin-bottom: 5px; }

#comments .comment .title .author { font-size: 13px; }

#comments .comment .text { color: #5b5b5b; }

#comments .comment .rating_actions { display: block; font-size: 11px; padding-left: 5px; padding-right: 5px; padding-top: 1px; }

#comments .comment .rating_actions a { text-decoration: none; font-weight: bold; }

#comments .comment .rating_actions a.negative { color: #ce4848; }

#comments .comment .rating_actions a.positive { color: #7fa865; }

#comments .comment.staff { background: #eee; }

#comments .comment.response { margin-left: 30px; border-left: 10px solid #ccc; }

#comments .comment.response .text p { color: #262626; }

#comments .comment .rating .rating_status { padding-right: 5px; font-size: 11px; }

#comments .comment .rating .rating_box { width: 140px; height: 11px; -webkit-border-radius: 2px; -moz-border-radius: 2px; overflow: hidden; }

#comments .comment .rating .rating_box .rating_bar { width: 70px; height: 11px; color: #fff; font-size: 9px; text-align: right; padding-right: 5px; }

#comments .comment .rating .rating_box .rating_already { text-align: center; color: #5b5b5b; }

#comments .comment .rating.staff .rating_status { color: #0d7bc9; }

#comments .comment .rating.staff .rating_box { border: 1px solid #0d7bc9; }

#comments .comment .rating.staff .rating_box .rating_bar { background: #0d7bc9; width: 140px; color: #0d7bc9; }

#comments .comment .rating.neutral .rating_status { color: #a6a6a6; }

#comments .comment .rating.neutral .rating_box { border: 1px solid #a6a6a6; }

#comments .comment .rating.neutral .rating_box .rating_bar { background: #a6a6a6; }

#comments .comment .rating.positive .rating_status { color: #7fa865; }

#comments .comment .rating.positive .rating_box { border: 1px solid #7fa865; }

#comments .comment .rating.positive .rating_box .rating_bar { background: #7fa865; }

#comments .comment .rating.negative .rating_status { color: #ce4848; }

#comments .comment .rating.negative .rating_box { border: 1px solid #ce4848; }

#comments .comment .rating.negative .rating_box .rating_bar { background: #ce4848; }

#comments .comment .rating.positive_1 .rating_bar { width: 77px; }

#comments .comment .rating.positive_2 .rating_bar { width: 84px; }

#comments .comment .rating.positive_3 .rating_bar { width: 91px; }

#comments .comment .rating.positive_4 .rating_bar { width: 98px; }

#comments .comment .rating.positive_5 .rating_bar { width: 105px; }

#comments .comment .rating.positive_6 .rating_bar { width: 112px; }

#comments .comment .rating.positive_7 .rating_bar { width: 119px; }

#comments .comment .rating.positive_8 .rating_bar { width: 126px; }

#comments .comment .rating.positive_9 .rating_bar { width: 133px; }

#comments .comment .rating.positive_10 .rating_bar { width: 140px; }

#comments .comment .rating.negative_1 .rating_bar { width: 63px; }

#comments .comment .rating.negative_2 .rating_bar { width: 56px; }

#comments .comment .rating.negative_3 .rating_bar { width: 49px; }

#comments .comment .rating.negative_4 .rating_bar { width: 42px; }

#comments .comment .rating.negative_5 .rating_bar { width: 35px; }

#comments .comment .rating.negative_6 .rating_bar { width: 28px; }

#comments .comment .rating.negative_7 .rating_bar { width: 21px; }

#comments .comment .rating.negative_8 .rating_bar { width: 14px; }

#comments .comment .rating.negative_9 .rating_bar { width: 7px; }

#comments .comment .rating.negative_9 .rating_bar span { display: none; }

#comments .comment .rating.negative_10 .rating_bar { width: 3px; }

#comments .comment .rating.negative_10 .rating_bar span { display: none; }

#comments .comment .actions { font-size: 11px; color: #848484; }

#comments .comment .actions a { color: #848484; font-size: 11px; }

/* @end */

/* @group Actions */

#actions { background: #edeeef; padding: 15px; }

#actions form { background: transparent; margin: 0px; padding: 0px; }

/* @end */

/* @group Other */

p.excerpt { color: #444; font-size: 11px; }

.filters { padding-left: 5px; }

/* @end */

/* @group Search */

ul.search {  }

ul.search li { background-image: url(../../images/search_item_background.png); }



/* @end */

form.new_search {
  position: relative; }
  form.new_search .loading {
    text-align: center;
    background: #fcffa2;
    font-weight: bold;
    margin: auto;
    width: 400px;
    padding: 5px;
    margin-top: -50px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    display: none; }


.homepage {
  margin-bottom: 50px; }
  .homepage .right {
    padding-left: 80px; }
    .homepage .right.padded {
      padding-top: 15px; }
  .homepage .search form {
    border: none; }
    .homepage .search form input.search {
      padding: 10px;
      font-size: 20px;
      width: 400px; }
  .homepage ul li {
    width: 235px;
    float: left;
    border: none; }
    .homepage ul li.wide {
      width: 500px; }
    .homepage ul li a {
      font-size: 16px; }
