body {
  background-color: #eaeaea; }

#header {
  background: #343d43 url(../images/header.png) no-repeat;
  background-position: 0px top;
  border-bottom: 1px solid #fff;
  height: 47px; }
  #header .container {
    padding: 12px;
    margin-left: 0px;
    position: relative; }
    #header .container #small_nav {
      position: absolute;
      padding-left: 120px;
      padding-top: 6px;
      color: #cccccc;
      font-size: 11px;
      font-weight: bold; }
      #header .container #small_nav a {
        color: #afb2b3;
        text-decoration: none;
        font-size: 11px;
        font-weight: normal; }
        #header .container #small_nav a:hover {
          color: #ccd1d3; }
    #header .container h1 {
      display: none; }
  #header ul#nav {
    list-style: none;
    position: absolute;
    bottom: -29px;
    right: 15px; }
    #header ul#nav li {
      float: left;
      padding: 7px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 5px;
      font-weight: bold;
      background: #494e50;
      color: #fff;
      border-top: 1px solid #575c5f;
      height: 20px; }
      #header ul#nav li a {
        color: #fff;
        text-decoration: none; }
      #header ul#nav li span {
        position: relative;
        top: -3px;
        margin-left: 5px; }
      #header ul#nav li.active {
        border-bottom: 1px solid #eaeaea;
        background: url(../images/nav_active.png);
        border-top: 1px solid #fff;
        height: 20px; }
        #header ul#nav li.active a {
          color: #3d3d3d; }
  #header #ajax_preloader {
    position: absolute;
    left: 110px;
    top: 18px;
    display: none; }

#main .container {
  margin-left: 0px;
  padding: 20px; }

.content {
  background-color: #fefefe;
  border: 1px solid #dedede;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 20px;
  padding-top: 10px; }
