body, h1, h2, h3 {
  font-family: "Lucida Grande", Tahoma, Helvetica, Arial, Verdana; }

a {
  color: #394627; }

h1 a, h2 a, h3 a {
  font-size: 12px;
  font-weight: bold; }

h2 {
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 20px;
  color: #1f4059;
  font-size: 15px; }

h2.homepage { font-size: 20px; font-weight: bold; color: #a1a1a1; }

h2.in_container { margin-left: 10px; }

h2.homepage span { position: relative; top: -30px; left: -10px; }

p {
  margin-bottom: 5px; }
