/* ************************** */


a {
  color: #0a5fa6;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #102d45; }

h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px; }

h2 {
  margin-right: 0px; }
  h2 a {
    color: #1f4059;
    font-size: 15px;
    text-decoration: none;
    font-weight: normal; }
  h2.bordered {
    border-bottom: 5px solid #EAEAEA; }

/* ************************** */


#main {
  width: 960px;
  margin: auto;
  min-height: 800px;
  _height: 800px; }
  #main #header {
    height: 60px;
    position: relative; }
    #main #header a.home {
      text-decoration: none;
      display: block;
      position: absolute;
      width: 200px;
      height: 40px;
      top: 10px; }
    #main #header #nav {
      text-align: right;
      padding-top: 20px;
      font-size: 11px; }
  #main #menu {
    background: url(../../images/menu_full.png) no-repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
    #main #menu ul.main li {
      background: url(../../images/frontend_menu_divider.png) no-repeat right;
      padding-top: 9px; }
    #main #menu ul {
      margin-left: 10px;
      padding-top: 0px; }
      #main #menu ul li {
        border: none;
        float: left;
        margin: 0px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 8px; }
        #main #menu ul li.active a {
          text-decoration: underline; }
        #main #menu ul li a {
          color: #fff;
          font-size: 11px;
          font-weight: bold;
          text-decoration: none; }
  #main #container {
    margin-top: 15px;
    padding: 15px; }
  #main #footer {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 5px solid #eaeaea;
    font-size: 11px; }
    #main #footer a {
      font-size: 11px; }

.notice {
  margin-top: 10px; }

/* ************************** */


#quick_search {
  position: absolute;
  right: -15px;
  top: -9px;
  height: 30px;
  background: transparent; }
  #quick_search form {
    background: transparent; margin-right: 15px; }
    #quick_search form input {
      padding: 3px 5px;
      padding-left: 23px;
      border: none;
      background: #fff url(../../images/icons/search.png) no-repeat 5px 4px;
      -webkit-border-radius: 15px;
      outline: none; }

/* ************************** */


table {
  margin-top: 10px; }
  
/* home page, intro */ 
.section#intro {
  padding-bottom: 10px;}
  .section#intro p {
    color: #555; }
  span.opening {
    font-size: 14px; 
    color: #222;
    font-weight: bold; }
