/* ************************** */


a {
  color: #0a5fa6;
  text-decoration: underline; }
  a:hover {
    text-decoration: none;
    color: #102d45; }

h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px; }

h2 {
  margin-right: 0px; }
  h2 a {
    color: #1f4059;
    font-size: 15px;
    text-decoration: none;
    font-weight: normal; }
  h2.bordered {
    border-bottom: 5px solid #EAEAEA; }

/* ************************** */


    #main #container #block_pagination {
      margin-bottom: 35px;
      color: #AAA; } 
    #main #container #block_pagination .prev_page {
      float: left;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid #AAA;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding: 2px 6px;
      background-color: #CCC;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#BBB));
      background-image: -moz-linear-gradient(0% 100% 90deg,#BBB, #EEE);   } 
    #main #container #block_pagination .next_page {
      float: right;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid #AAA;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding: 2px 6px;
      background-color: #CCC;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#BBB));
      background-image: -moz-linear-gradient(0% 100% 90deg,#BBB, #EEE);   }  

.notice {
  margin-top: 10px; }

/* ************************** */


#quick_search {
  position: absolute;
  right: -15px;
  top: -9px;
  height: 30px;
  background: transparent; }
  #quick_search form {
    background: transparent; margin-right: 15px; }
    #quick_search form input {
      padding: 3px 5px;
      padding-left: 23px;
      border: none;
      background: #fff image-url('icons/search.png') no-repeat 5px 4px;
      -webkit-border-radius: 15px;
      outline: none; }

/* ************************** */


table {
  margin-top: 10px; }

/* ************************** */

/*.blocks {*/
    /*width: 870px;*/
    /*background-color: #f3f3f3;*/
    /*padding: 30px;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
/*}*/
