.clearfix
  %h1.fl User roles
  .fr.buttons
    = link_to "<span>Back to users</span>".html_safe, users_path, :class => "dark button"
    = link_to "<span>Create new</span>".html_safe, new_user_role_path, :class => "dark button"
    
%table
  %tr
    %th Title
    %th Identifier
    %th 
  
  - @user_roles.each do |role|
    %tr
      %td= link_to(role.title, edit_user_role_path(role))
      %td= role.identifier
      %td.actions
        .actions
          =link_to(image_tag('icons/trash.gif'), user_role_path(role), :confirm => 'Are you sure you want to delete this item?', :method => 'delete')