.legacy
  .clearfix
    %h1.fl== Edit user #{@user.login}
    
    .buttons.fr
      = link_to "<span>Back</span>".html_safe, settings_users_path, :class => "button dark"
      
  = render :partial => "form"
