= form_tag nil, :method => :get, :class => "inline submit_on_change" do |f|

  = t("dataset.filter")

  = select_tag "filters[record_status]", ("<option value=''>%s</option>:" % t("global.all")).html_safe + options_for_select(add_translations_to_array(DatastoreManager.record_statuses, "record_statuses"), @filters[:record_status])

  = select_tag "filters[quality_status]", ("<option value=''>%s </option>" % t("global.all")).html_safe + options_from_collection_for_select(QualityStatus.all, :name, :title, @filters[:quality_status])
