#dataset_navigation_admin
  - if logged_in? && current_user.has_privilege?(:edit_dataset_description)
    = link_to t("dataset.edit_description"), dataset_description_path(@dataset_description)
  - if logged_in? && current_user.has_privilege?(:import_from_file)
    = link_to t("global.import"), new_import_file_path(:dataset_description_id => @dataset_description.id)
  - if logged_in? && current_user.has_privilege?(:create_record)
    = link_to t("dataset.create_record"), new_dataset_record_path(@dataset_description)
