%ul.menu.submenu.clearfix
  %li= link_to t('global.datasets'), dataset_descriptions_path
  %li= link_to t('dataset.create'), new_dataset_description_path
  %li= link_to t('dataset.initialize'), import_dataset_descriptions_path
  %li= link_to t('global.import'), new_import_file_path