/* ************************** */


a {
  color: #264000; }
  a:hover {
    color: #264000; }

h2 {
  margin-right: 0px; }
  h2 a {
    color: #26591f;
    font-size: 15px;
    text-decoration: none;
    font-weight: normal; }
  h2.bordered {
    border-bottom: 5px solid #EAEAEA; }
    
/*** Logo ***/
#main #header {
	background: url(../images/logo.png) no-repeat 0px;
	background-color: #F3F3F3;
  -webkit-border-top-left-radius: 3px 3px;
  -moz-border-radius-topleft: 3px 3px;
  border-top-left-radius: 3px 3px;
  -webkit-border-top-right-radius: 3px 3px;
  -moz-border-radius-topright: 3px 3px;
  border-top-right-radius: 3px 3px;
}
