#search_processing.hidden
  %div.search_processing
    %h1= t("search.searching_wait_notice")
    = image_tag "ajax_preloader_hq.gif"
  .actions
    = button_link_to t("global.cancel"), root_path, :class => "dark close"