form.new_search {
  position: relative; }
  form.new_search .loading {
    text-align: center;
    background: #fcffa2;
    font-weight: bold;
    margin: auto;
    width: 400px;
    padding: 5px;
    margin-top: -50px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    display: none; }
