.legacy {
  a {
    color: #264000; }
    a:hover {
      color: #264000; }

  h2 {
    margin-right: 0px; }
    h2 a {
      color: #26591f;
      font-size: 15px;
      text-decoration: none;
      font-weight: normal; }
    h2.bordered {
      border-bottom: 5px solid #EAEAEA; }

  #page_content ol li {
    list-style-type: decimal;
  }
}
