.legacy {
  /* @group Generic Table */

  table { margin-bottom: 0px; width: 100%; }

  table tr th { padding: 9px; color: #2f2f2f; padding-left: 0px; background-color: #d8d8d8; background-image: image-url('node_background.png'); }

  table tr th:first-child { padding-left: 10px; background: image-url('node_corners.png') no-repeat left top; }

  table tr th:last-child { background: image-url('node_corners.png') no-repeat right top; }

  table tr th a { color: #2f2f2f; text-decoration: none; font-size: 12px; }

  table tr th a:hover { color: #2f2f2f; text-decoration: none; }

  table tr td { padding: 10px; padding-left: 0px; background: #eeeeee; }

  table tr td.nopadding { padding: 0px !important; }

  table.plain tr td { background: none !important; }

  table tr td:first-child { padding-left: 10px; }

  /* Actions as a cell */

  table tr td.actions { text-align: right; }

  table tr td.actions a { float: right; }

  /* Actions as a block */

  table tr td .actions a { font-weight: normal; font-style: normal; font-size: 11px; color: #7b7b7b; }

  table tr:hover td span.actions.hidden { display: inline; }

  table tr td.label { color: #939393; font-weight: bold; width: 140px; text-align: right; padding-right: 20px; }

  table tr td strong { font-weight: normal; color: #4e4f50; }

  table tr td em { font-style: normal; font-size: 12px; color: #96989a; }

  table tr td em { font-style: normal; color: #444; font-size: 11px; }

  table tr.title td { font-weight: bold; font-size: 13px; background-color: #efefef !important; border-bottom: 2px solid #e1e1e1 !important; }

  table tr td input[type=text] { width: 90%; }

  table tr.even td { background: #f3f3f3; }

  table tr.filter td { background: #f2f2f2; border-bottom: 1px solid #e4e4e4; }

  table tr.filter td input { padding: 3px; }

  table.small td, table.small th, table.small td em { font-size: 11px; }

  .box table td { border-bottom: none; }

  /* @end */

  /* @group Frontend/Backend */

  table.backend td { background-color: #f9f9f9; }

  table.frontend { margin-left: 5px; }

  table.frontend td { background-color: #f9f9f9; border-bottom: 1px solid #eaeaea; }



  /* @end */
}
