!!!
%html
  %head
  %body
    %h1= t("session.set_new_password", :site_name => SystemVariable.get("site_name", "Datacamp"))
    %p= t("session.reset_password_message", :link => link_to(t("session.reset_password"), restore_user_url(@user.restoration_code)))