#cookie_banner{style: 'display: none'}
    = t('pages.cookie_banner.intro')
    = link_to t('pages.cookie_banner.about'), page_path('cookies')
    = link_to t('pages.cookie_banner.hide'), '#', class: 'btn_hide'
