%footer
  %ul#navigation-links
    %li= raw t('global.copyright')
    %li= link_to t('pages.copyright'), page_path('copyright')
    %li= link_to t('pages.about_organisation'), page_path('about_organisation')
    %li= link_to  t('pages.contact'), page_path('contact')
