#social-links
  %a{:href => "http://twitter.com/alianciaFP"}
    %img{:src => "/images/twitter.png", :alt => "Twitter"}
  %a{:href => "http://www.facebook.com/pages/Datanest-Aliancie-Fair-play/151055951576439"}
    %img{:src => "/images/facebook.png", :alt => "Facebook"}
