#top_search
  - if params[:controller] != "main" && params[:controller] != "search"
    = form_tag quick_searches_path, :class => "search" do
      = text_field_tag :query_string, (@search.query_string if @search)
      = submit_tag(t("search.search_action"), :id => "query_submit")
  - else
    &nbsp;